@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<_1640WebApp.Data.Idea>
@using Microsoft.AspNetCore.Identity
@using _1640WebApp.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/styleLikeF.css">
    <link rel="stylesheet" type="text/css" href="~/css/reactAnimation.css">
    <title>MediaBook</title>
    <script src="~/js/react.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.like-button').click(function () {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                } else {
                    $('.reaction-button').removeClass('active');
                    $(this).addClass('active');
                }
            });
            $('.love-button').click(function () {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                } else {
                    $('.reaction-button').removeClass('active');
                    $(this).addClass('active');
                }
            });
            $('.haha-button').click(function () {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                } else {
                    $('.reaction-button').removeClass('active');
                    $(this).addClass('active');
                }
            });
        });
    </script>



</head>

<body>
    <div>
        <nav>
            <div class="nav-left">
                <img src="~/images/logo.png" alt="Logo">
                <input type="text" placeholder="Search Mediabook..">
            </div>

            <div class="nav-middle">
                <a href="#" class="active">
                    <i class="fa fa-home"></i>
                </a>

                <a href="#">
                    <i class="fa fa-user-friends"></i>
                </a>

                <a href="#">
                    <i class="fa fa-play-circle"></i>
                </a>

                <a href="#">
                    <i class="fa fa-users"></i>
                </a>
            </div>

            <div class="nav-right">
                <span class="profile"></span>

                <a href="#">
                    <i class="fa fa-bell"></i>
                </a>

                <a href="#">
                    <i class="fas fa-ellipsis-h"></i>
                </a>
            </div>
        </nav>

        <div style="padding-bottom:50px" class="container">
            <div class="left-panel">
                <ul>
                    <li>
                        <i class="fa fa-user-friends"></i>
                        <p>Friends</p>
                    </li>
                    <li>
                        <i class="fa fa-play-circle"></i>
                        <p>Videos</p>
                    </li>
                    <li>
                        <i class="fa fa-flag"></i>
                        <p>Pages</p>
                    </li>
                    <li>
                        <i class="fa fa-users"></i>
                        <p>Groups</p>
                    </li>
                    <li>
                        <i class="fa fa-bookmark"></i>
                        <p>Bookmark</p>
                    </li>
                    <li>
                        <i class="fab fa-facebook-messenger"></i>
                        <p>Inbox</p>
                    </li>
                    <li>
                        <i class="fas fa-calendar-week"></i>
                        <p>Events</p>
                    </li>
                    <li>
                        <i class="fa fa-bullhorn"></i>
                        <p>Ads</p>
                    </li>
                    <li>
                        <i class="fas fa-hands-helping"></i>
                        <p>Offers</p>
                    </li>
                    <li>
                        <i class="fas fa-briefcase"></i>
                        <p>Jobs</p>
                    </li>
                    <li>
                        <i class="fa fa-star"></i>
                        <p>Favourites</p>
                    </li>
                </ul>


            </div>


            <div class="middle-panel">

                <div class="story-section">

                    <div class="story create">
                        <div class="dp-image">
                            <img src="~/images/dp.jpg" alt="Profile pic">
                        </div>
                        <span class="dp-container">
                            <i class="fa fa-plus"></i>
                        </span>
                        <span class="name">Create Story</span>
                    </div>


                    <div class="story">
                        <img src="~/images/model.jpg" alt="Anuska's story">
                        <div class="dp-container">
                            <img src="~/images/girl.jpg" alt="">
                        </div>
                        <p class="name">Anuska Sharma</p>
                    </div>

                    <div class="story">
                        <img src="~/images/boy.jpg" alt="Story image">
                        <span class="dp-container">
                            <img src="~/images/dp.jpg" alt="Profile pic">
                        </span>
                        <span class="name">Gaurav Gall</span>
                    </div>

                    <div class="story">
                        <img src="~/images/mountains.jpg" alt="Story image">
                        <span class="dp-container">
                            <img src="~/images/boy.jpg" alt="Profile pic">
                        </span>
                        <span class="name">Priyank Saksena</span>
                    </div>

                    <div class="story">
                        <img src="~/images/shoes.jpg" alt="Story image">
                        <span class="dp-container">
                            <img src="~/images/model.jpg" alt="Profile pic">
                        </span>
                        <span class="name">Pragati Adhikari</span>
                    </div>
                </div>

                <div class="post create">
                    <div class="post-top">
                        <div class="dp">
                            <img src="~/images/girl.jpg" alt="">
                        </div>
                        <input type="text" placeholder="What's on your mind, Aashish ?" />
                    </div>

                    <div class="post-bottom">
                        <div class="action">
                            <i class="fa fa-video"></i>
                            <span>Live video</span>
                        </div>
                        <div class="action">
                            <i class="fa fa-image"></i>
                            <span>Photo/Video</span>
                        </div>
                        <div class="action">
                            <i class="fa fa-smile"></i>
                            <span>Feeling/Activity</span>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="post">
                        <div class="post-top">
                            @if( item.Anonymous == true){
                                <div class="dp">
                                    <img src="~/images/download.png" alt="">
                                </div>
                                <div class="post-info">
                                    <p class="name">Incognito</p>
                                    <span class="time">@Html.DisplayFor(modelItem => item.Datatime)</span>
                                </div>
                                <i class="fas fa-ellipsis-h"></i>
                            }else {
                                <div class="dp">
                                    <img src="~/images/girl.jpg" alt="">
                                </div>
                                <div class="post-info">
                                    <p class="name">@Html.DisplayFor(modelItem => item.User.Fullname_)</p>
                                    <span class="time">@Html.DisplayFor(modelItem => item.Datatime)</span>
                                </div>
                                <i class="fas fa-ellipsis-h"></i>
                            }
                        
                    </div>
                    
                    <div class="post-content">
                            @Html.DisplayFor(modelItem => item.Title)                      
                    </div>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    <div class="post-bottom">
                        <div class="action">
                            <div class="like-button reaction-button">
                                <i class="far fa-thumbs-up"></i>
                            </div>
                            <div class="love-button reaction-button">
                                <i class="far fa-heart"></i>
                            </div>
                            <div class="haha-button reaction-button">
                                <i class="far fa-laugh"></i>
                            </div>
                        </div>

                        <div class="action">
                            <i class="far fa-comment"></i>
                            <span>Comment</span>
                        </div>
                        <div class="action">
                            <i class="fa fa-share"></i>
                            <span>Share</span>
                        </div>
                    </div>
                </div>
                }


                @*@foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Submission.Id)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }*@





                <div class="post">
                    <div class="post-top">
                        <div class="dp">
                            <img src="~/images/girl.jpg" alt="">
                        </div>
                        <div class="post-info">
                            <p class="name">Anuska Sharma</p>
                            <span class="time">12 hrs ago</span>
                        </div>
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                    <a>ở đây nè</a>
                    <div class="post-content">
                        Roses are red <br>
                        Violets are blue <br>
                        I'm ugly & you are too😏
                    </div>

                    <div class="post-bottom">
                        <div class="action">
                            <div class="like-button reaction-button">
                                <i class="far fa-thumbs-up"></i>
                            </div>
                            <div class="love-button reaction-button">
                                <i class="far fa-heart"></i>
                            </div>
                            <div class="haha-button reaction-button">
                                <i class="far fa-laugh"></i>
                            </div>
                        </div>

                        <div class="action">
                            <i class="far fa-comment"></i>
                            <span>Comment</span>
                        </div>
                        <div class="action">
                            <i class="fa fa-share"></i>
                            <span>Share</span>
                        </div>
                    </div>

                </div>



            </div>
            <div class="right-panel">
                <div class="pages-section">
                    <h4>Your pages</h4>
                    <a class='page' href="#">
                        <div class="dp">
                            <img src="~/images/logo.png" alt="logo">
                        </div>
                        <p class="name">Cody</p>
                    </a>

                    <a class='page' href="#">
                        <div class="dp">
                            <img src="~/images/dp.jpg" alt="">
                        </div>
                        <p class="name">Cody Tutorials</p>
                    </a>
                </div>

                <div class="friends-section">
                    <h4>Friends</h4>
                    <a class='friend' href="#">
                        <div class="dp">
                            <img src="~/images/dp.jpg" alt="">
                        </div>
                        <p class="name">Henry Mosely</p>
                    </a>

                    <a class='friend' href="#">
                        <div class="dp">
                            <img src="~/images/shoes.jpg" alt="">
                        </div>
                        <p class="name">George</p>
                    </a>

                    <a class="friend" href="#">
                        <div class="dp">
                            <img src="~/images/boy.jpg" alt="">
                        </div>
                        <p class="name">Aakash Malhotra</p>
                    </a>

                    <a class="friend" href="#">
                        <div class="dp">
                            <img src="~/images/model.jpg" alt="">
                        </div>
                        <p class="name">Ragini Khanna</p>
                    </a>

                    <a class="friend" href="#">
                        <div class="dp">
                            <img src="~/images/boy.jpg" alt="">
                        </div>
                        <p class="name">Justin Bieber</p>
                    </a>

                    <a class="friend" href="#">
                        <div class="dp">
                            <img src="~/images/dp.jpg" alt="">
                        </div>
                        <p class="name">Ramesh GC</p>
                    </a>

                    <a class="friend" href="#">
                        <div class="dp">
                            <img src="~/images/model.jpg" alt="">
                        </div>
                        <p class="name">Sajita Gurung</p>
                    </a>

                </div>
            </div>
        </div>
    </div>

</body>







@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}