@model IEnumerable<_1640WebApp.Data.Submission>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout";
}
<style>
    .contain-create {
        background-image: url('https://static.vecteezy.com/system/resources/thumbnails/015/287/575/original/purple-themed-particle-form-futuristic-neon-graphic-background-science-energy-3d-abstract-art-element-illustration-technology-artificial-intelligence-shape-theme-wallpaper-animation-free-video.jpg');
        object-fit: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        position: absolute;
        top: 57px;
        right: 0;
        left: 0;
        bottom: 0;
        overflow-y: scroll !important;
        padding-left: 70px;
        color: white;
        font-weight: bold;
        padding-bottom: 50px;
    }
    table{
        color:white;
        background-color:azure;
        opacity:85%;
        min-height:400px;
        padding:10px;
        width: 91.5% !important;
        border-radius: 5px;
        text-align:center;
    }
    .button1{
        background-color:forestgreen;
        padding:10px;
        color:white;
        border-radius: 10px;
        margin: 10px 10px 10px 0px ;
    }

    .button2 {
        background-color:darkviolet;
        padding: 6px;
        color: white;
        border-radius: 10px;
    }
    a:hover{
        color:red !important;
        margin:3px;
    }
</style>

<div class="contain-create">
    <div style="height:50px;"></div>
    <h1>Index</h1>

    <p>
        <a class="button1" asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClosureDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FinalClosureTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClosureDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinalClosureTime)
                    </td>
                    <td>
                        <a class="button2" asp-controller="Idea" asp-action="Create" asp-route-submissionId="@item.Id">Add Idea</a> |
                        <a class="button2" asp-controller="Idea" asp-action="ViewIdeas" asp-route-id="@item.Id">View Idea</a> |
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>